.main-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(yellow 0.00% 6.25%,
            red 6.25% 8.33%,
            green 8.33% 10.42%,
            blue 10.42% 12.50%,
            yellow 12.50% 18.75%,
            red 18.75% 20.83%,
            green 20.83% 22.92%,
            blue 22.92% 25.00%,
            yellow 25.00% 31.25%,
            red 31.25% 33.33%,
            green 33.33% 35.42%,
            blue 35.42% 37.50%,
            yellow 37.50% 43.75%,
            red 43.75% 45.83%,
            green 45.83% 47.92%,
            blue 47.92% 50.00%,
            yellow 50.00% 56.25%,
            red 56.25% 58.33%,
            green 58.33% 60.42%,
            blue 60.42% 62.50%,
            yellow 62.50% 68.75%,
            red 68.75% 70.83%,
            green 70.83% 72.92%,
            blue 72.92% 75.00%,
            yellow 75.00% 81.25%,
            red 81.25% 83.33%,
            green 83.33% 85.42%,
            blue 85.42% 87.50%,
            yellow 87.50% 93.75%,
            red 93.75% 95.83%,
            green 95.83% 97.92%,
            blue 97.92% 100.00%);
}